<%= form_tag(sessions_path) do %>

  <%= label_tag 'Email' %>
  <%= email_field_tag :email, '', placeholder: "Email" %>
  <br>
  <%= label_tag 'Password' %>
  <%= password_field_tag :password, '', placeholder: "Password" %>
  <br>
  <%= submit_tag "Login" %>

  <button class="btn btn-social btn-facebook">
    <%= link_to "Facebook Signin", "/auth/facebook", class: "fa fa-facebook" %>
  </button>

<% end %>