<div class="container-fluid">
  <div class="rounded card">
    <div class="card-header">
      <h4><%= @oil.name %></h4>
    </div>
    <div class="card-block">
      <h5 class="card-title">Description</h5>
      <p class="card-text"><%= @oil.description %></p>
      <h5 class="card-title">Benefits</h5>
      
      <!-- renders the list of benefits -->
      <div class="benefit">
        <%= render "benefits/benefits" %>
      </div>

      <!-- only shows the new benefit text box if you are an admin -->
      <% if allowed? %>
        <%= form_for([@oil, @benefit]) do |f| %>
          <%= f.text_area :description %>

          <p><%= f.submit %></p>
        <% end %>
      <% end %>

      <h5 class="card-title">Available Products with this oil:</h5>
      <% @oil.products.each do |product| %>
        <li class="card-text">
          <%= link_to product.name, product_path(product) %>
        </li>
      <% end %>
      
      <% if allowed? %>
        <%= link_to "Edit", edit_oil_path(@oil), class: "btn btn-secondary" %>
        <%= link_to "Delete", @oil , method: :delete, class: "btn btn-secondary", data: { confirm: "Are You Sure?" } %>
      <% end %>
    </div>
  </div>
</div>