<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
        prohibited this product from being saved:
      </h2>
   
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="card text-center">
        <div class="card-header">
          <h3>Sign Up</h3>
        </div>
        <div class="card-block">
            <div class="row justify-content-center">
              <div class="col-3 text-right">
                <%= f.label :name %>
              </div>
              <div>
                <%= f.text_field :name, placeholder: "Name" %>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-3 text-right">
                <%= f.label :email %>
              </div>
              <div>
                <%= f.text_field :email, placeholder: "Email" %>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-3 text-right">
                <%= f.label :password %>
              </div>
              <div>
                <%= f.password_field :password, placeholder: "Password" %>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-3 text-right">
                <%= f.label :password_confirmation %>
              </div>
              <div>
                <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
              </div>
            </div>
            <div class="row justify-content-center">
                <%= f.submit "Sign Up" %>
            </div>
        </div>
      </div>
    </div>
  </div>
<% end %>