  <%= form_for(@volume_cost) do |f| %>

    <% if @volume_cost.errors.any? %>
      <div class="alert alert-danger">
        <h2>
          <%= pluralize(@volume_cost.errors.count, "error") %>
          prohibited this volume_cost from being saved:
        </h2>
     
        <ul>
        <% @volume_cost.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row">
      <label class="col-1 col-form-label"><%= f.label "Category" %></label>
      <div class="col-8">
        <%= f.collection_select(:category_id, Category.all, :id, :name, {:selected => @volume_cost.category_id, :prompt => 'Please select a category'}) %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-1 col-form-label"><%= f.label :volume %></label>
      <div class="col-8">
      <%= f.number_field :volume, :step => 0.5 %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-1 col-form-label"><%= f.label :cost %></label>
      <div class="col-8">
      <%= f.number_field :cost, :step => 0.5 %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>