<%= form_for(@product) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label "Category" %>
    <br>
    <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label "Oils" %>
    <br>
    <%= f.collection_check_boxes :oil_ids, Oil.all, :id, :name %><br />
  </div>

  <div class="field">
    <%= f.fields_for :product_variants do |pv| %>
      <%= pv.collection_select(:variant_id, Variant.all, :id, :size) %>
      <%= pv.text_field :price %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
