<%= form_for(@product) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label "Category" %>
    <br>
    <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label "Oils" %>
    <br>
    <%= f.collection_check_boxes :oil_ids, Oil.all, :id, :name %><br />
  </div>

  <div class="field">
    <%= f.label "Size & Cost" %>
    <% Variant.all.each do |v| %>
      <p>
        <label for="variant_id_<%= v.id %>"><%= v.size %></label>
        <input type="checkbox" name="product[product_variants][]" value="<%= v.id %>" id="variant_id_<%= v.id %>">
        <input type="number_field" name="product[product_variants][][price]">
      </p>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
