<div class="container">
  <%= form_for(@product) do |f| %>

    <div class="form-group row">
      <label class="col-1 col-form-label"><%= f.label :name %></label>
      <div class="col-8">
      <%= f.text_field :name %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-1 col-form-label"><%= f.label :description %></label>
      <div class="col-8">
      <%= f.text_area :description %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-1 col-form-label"><%= f.label "Category" %></label>
      <div class="col-8">
      <%= f.collection_select(:category_id, Category.all, :id, :name) %>
      </div>
    </div>

    <div class="form-check row">
      <label class="col-1 col-form-label"><%= f.label "Oils" %></label>
      <div class="col-8">
        <%= f.collection_check_boxes(:oil_ids, Oil.all, :id, :name) do |b| %>
          <p>
            <%= b.check_box :class => "label-checkbox" %>
            <%= b.label %>
          </p>
        <% end %>
      </div>
    </div>


    <%= f.fields_for :volume_costs do |vc_builder| %>
      <div class="form-group row">
        <label class="col-1 col-form-label"><%= vc_builder.label "Volume" %></label>
        <%= vc_builder.number_field :volume %>
        <div class="input-group-addon">ozs</div>

        <label class="col-1 col-form-label"><%= vc_builder.label "Cost" %></label>
        <div class="input-group-addon">$</div>
        <%= vc_builder.number_field :cost %>
      </div>  
    <% end %>
  

<!--     <div class="form-group row">
      <label class="col-1 col-form-label"><%#= f.label "Volume" %></label>
      <input type="number" id="product_volume_costs_attributes_0_volume" name="product[volume_costs_attributes][0][volume]">
      <label class="col-1 col-form-label"><%#= f.label "Cost" %></label>
      <input type="number" id="product_volume_costs_attributes_0_cost" name="product[volume_costs_attributes][0][cost]">
    </div>

    <div class="form-group row">
      <label class="col-1 col-form-label"><%#= f.label "Volume" %></label>
      <input type="number" id="product_volume_costs_attributes_1_volume" name="product[volume_costs_attributes][1][volume]">
      <label class="col-1 col-form-label"><%#= f.label "Cost" %></label>
      <input type="number" id="product_volume_costs_attributes_1_cost" name="product[volume_costs_attributes][1][cost]">
    </div>

    <div class="form-group row">
      <label class="col-1 col-form-label"><%#= f.label "Volume" %></label>
      <input type="number" id="product_volume_costs_attributes_2_volume" name="product[volume_costs_attributes][2][volume]">
      <label class="col-1 col-form-label"><%#= f.label "Cost" %></label>
      <input type="number" id="product_volume_costs_attributes_2_cost" name="product[volume_costs_attributes][2][cost]">
    </div> -->

    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>
</div>