<div class="container-fluid">
  <div class="rounded card">
    <div class="card-header">
      <h4><%= link_to product.name, product_path(product), id: "productName" %></h4>
      <%= next_product_link(params["action"], product.id) %>
    </div>
    <div class="card-block">
      <h5 class="card-title">Description</h5>
      <p class="card-text" id="productDescription"><%= product.description %></p>
      <h5 class="card-title">Available Scents</h5>
      <p class="card-text">
        <ul id="productOils">
          <% product.oils.each do |oil| %>
            <li><%= oil.name %></li>
          <% end %>
        </ul>
      </p>
      <h5 class="card-title">Volume and Cost</h5>
      <p class="card-text">
        <ul id="productVolumeCost">
          <% product.volumes_with_data.each do |vc| %>
            <li><%= "#{vc.volume} oz - #{number_to_currency(vc.cost)}" %></li>
          <% end %>
        </ul>
      </p>
      
      <% if allowed? %>
        <div class="btn-group btn-group-sm" role="group" >
          <%= link_to "Edit", edit_product_path(product), class: "btn btn-secondary" %>
          <%= link_to "Delete", product , method: :delete, class: "btn btn-secondary", data: { confirm: "Are You Sure?" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>