<h1><%= @product.name %></h1>

<h3><%= @product.description %></h3>

<p>Category: <%= @product.category.name %></p>

<p>Available Scents:</p>
<ul>
  <% @product.oils.each do |oil| %>
    <li><%= oil.name %></li>
  <% end %>
</ul>

<p>Available Sizes</p>
<ul>
  <% @product.product_variants.each do |pv| %>
    <li><%= pv.variant.size %> - $<%= pv.price %></li>
  <% end %>
</ul>
