<!DOCTYPE html>
<html>
<head>
  <title>OilsOfJoy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://use.fontawesome.com/6af8f1a327.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navigation_bar' %>

<div class="alert">
  <%= render 'layouts/messages' %>
</div>

<div class="container-fluid">
  <%= yield %>
</div>

</body>
</html>
